<h1>Main#page4</h1>
<p>Find me in app/views/main/page4.html.erb</p>

<div id="hello2"></div>

<div id="people">
  <v-client-table :data="tableData" :columns="columns" :options="options"></v-client-table>
</div>
